In [1]:
import pandas as pd
import numpy as np

In [2]:
players_path = '/Users/t_raver9/Desktop/projects/aflengine/bench/players.csv'
matches_path = '/Users/t_raver9/Desktop/projects/aflengine/bench/matches.csv'

In [3]:
players = pd.read_csv(players_path)
matches = pd.read_csv(matches_path)

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (14,19,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Challenge: how many games have been, cumitavely, played by each team?
# Approach: go through the player's dataframe, for each row add a column that tells you how many games this player
# has played. For the very first game, the played number will be 1.

In [6]:
players.columns

Index(['AFLfantasy', 'Supercoach', 'behinds', 'bounces', 'brownlow',
       'clangers', 'clearances', 'contested_marks', 'contested_poss',
       'disposals', 'first_name', 'frees_against', 'frees_for', 'fullkey',
       'fullname', 'goal_assists', 'goals', 'handballs', 'hitouts', 'homeAway',
       'inside50', 'kicks', 'last_name', 'marks', 'marks_in_50', 'matchid',
       'namekey', 'number', 'one_percenters', 'playerid', 'rebound50',
       'tackles', 'team', 'tog', 'uncontested_poss', 'centre_clearances',
       'disposal_efficiency', 'effective_disposals', 'intercepts',
       'metres_gained', 'stoppage_clearances', 'score_involvements',
       'tackles_in_50', 'turnovers', 'season'],
      dtype='object')

In [10]:
merged = players.merge(matches,on='matchid',how='inner')

In [11]:
merged

,AFLfantasy,Supercoach,behinds,bounces,brownlow,clangers,clearances,contested_marks,contested_poss,disposals,...,umpire3games,hteam_et,ateam_et,season_y,homeodds,homeline,awayodds,awayline,hscore,ascore
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1897,NaN,NaN,NaN,NaN,49,16
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1897,NaN,NaN,NaN,NaN,49,16
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1897,NaN,NaN,NaN,NaN,49,16
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1897,NaN,NaN,NaN,NaN,49,16
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1897,NaN,NaN,NaN,NaN,49,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627690,110.0,115.0,0.0,1.0,0.0,1.0,1.0,1.0,3.0,23.0,...,367.0,NaN,NaN,2019,1.85,-1.5,1.96,1.5,88,68
627691,28.0,26.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,7.0,...,367.0,NaN,NaN,2019,1.85,-1.5,1.96,1.5,88,68
627692,81.0,75.0,0.0,3.0,0.0,4.0,0.0,0.0,3.0,20.0,...,367.0,NaN,NaN,2019,1.85,-1.5,1.96,1.5,88,68
627693,63.0,77.0,0.0,0.0,0.0,2.0,2.0,1.0,7.0,13.0,...,367.0,NaN,NaN,2019,1.85,-1.5,1.96,1.5,88,68
627694,78.0,80.0,2.0,2.0,0.0,4.0,3.0,1.0,13.0,25.0,...,367.0,NaN,NaN,2019,1.85,-1.5,1.96,1.5,88,68

In [43]:
# Is every game accounted for?
print(len(players))
print(len(merged))
print(len(df))

627695
627695
627695

In [15]:
merged.columns

Index(['AFLfantasy', 'Supercoach', 'behinds', 'bounces', 'brownlow',
       'clangers', 'clearances', 'contested_marks', 'contested_poss',
       'disposals', 'first_name', 'frees_against', 'frees_for', 'fullkey',
       'fullname', 'goal_assists', 'goals', 'handballs', 'hitouts', 'homeAway',
       'inside50', 'kicks', 'last_name', 'marks', 'marks_in_50', 'matchid',
       'namekey', 'number', 'one_percenters', 'playerid', 'rebound50',
       'tackles', 'team', 'tog', 'uncontested_poss', 'centre_clearances',
       'disposal_efficiency', 'effective_disposals', 'intercepts',
       'metres_gained', 'stoppage_clearances', 'score_involvements',
       'tackles_in_50', 'turnovers', 'season_x', 'round', 'venue', 'date',
       'day', 'time', 'crowd', 'hteam', 'hteam_q1', 'hteam_q2', 'hteam_q3',
       'hteam_q4', 'ateam', 'ateam_q1', 'ateam_q2', 'ateam_q3', 'ateam_q4',
       'umpire1', 'umpire2', 'umpire3', 'umpire1games', 'umpire2games',
       'umpire3games', 'hteam_et', 'ateam_et', 'season_y', 'homeodds',
       'homeline', 'awayodds', 'awayline', 'hscore', 'ascore'],
      dtype='object')

In [23]:
# Change date type so we can get everything in order
def change_date_type(matches: pd.DataFrame) -> pd.DataFrame:
    """
    Change date data to be type datetime
    """
    matches['date'] = pd.to_datetime(matches['date'],format="%d-%b-%Y")
    return matches

In [24]:
merged = change_date_type(merged)

In [25]:
df_sorted = merged.sort_values(by=['date'])

In [27]:
df = df_sorted

In [28]:
# df is now sorted. Add a column to store games played for each player.
df['player_gp'] = 0

In [31]:
df.playerid

0               Bill_Casey
102           Peter_Burns0
103            Jack_Parkin
104              Son_Barry
105         Firth_McCallum
                ...
627456          Phil_Davis
627455       Brent_Daniels
627454        Zac_Williams
627452      Jeremy_Cameron
627431    Harry_Himmelberg
Name: playerid, Length: 627695, dtype: object

In [32]:
def add_games_played(matches):
    games_played_dict = {}
    for idx,row in matches.iterrows():
        if row['playerid'] not in games_played_dict:
            games_played_dict[row['playerid']] = 1
            matches.at[idx,'player_gp'] = 1
        else:
            games_played_dict[row['playerid']] += 1
            matches.at[idx,'player_gp'] = games_played_dict[row['playerid']]
            
    return matches

In [33]:
df = add_games_played(df)

In [39]:
# Note that some games are missing from 2017, as well as the 2019 grand final

In [40]:
# Now we have the amount of games played at the player level. However, we want to see what the number of games
# played for the entire team is. We can use aggregate functions to achieve this.

In [41]:
players['team']

0            Carlton
1            Fitzroy
2            Carlton
3            Carlton
4            Carlton
             ...
627690    West Coast
627691    West Coast
627692    West Coast
627693    West Coast
627694    West Coast
Name: team, Length: 627695, dtype: object

In [78]:
def games_played_per_team(matches,df):
    matches['h_games_played'] = 0
    matches['a_games_played'] = 0
    # Create the grouped dataframe with the aggregate of games played
    aggregation = df[['matchid','team','player_gp']].groupby(['matchid','team']).sum()
    aggregation.reset_index(inplace=True)
    # Find the relevant row to get the games played
    for idx,row in matches.iterrows():
        matches.at[idx,'h_games_played'] = aggregation[(aggregation['matchid'] == row['matchid']) &
                                                      (aggregation['team'] == row['hteam'])]['player_gp']
        matches.at[idx,'a_games_played'] = aggregation[(aggregation['matchid'] == row['matchid']) &
                                                      (aggregation['team'] == row['ateam'])]['player_gp']
    return matches

In [79]:
matches = games_played_per_team(matches,df)

In [51]:
x = df[['matchid','team','player_gp']].groupby(['matchid','team']).sum()

In [66]:
x.reset_index(inplace=True)

In [67]:
x

            matchid                    team  player_gp
0      189701CARFIT                 Carlton         20
1      189701CARFIT                 Fitzroy         20
2      189701COLSTK             Collingwood         20
3      189701COLSTK                St Kilda         20
4      189701ESSGEE                Essendon         20
...             ...                     ...        ...
31167  2019QFCOLGEE                 Geelong       2743
31168  2019SFBRSGWS          Brisbane Lions       2213
31169  2019SFBRSGWS  Greater Western Sydney       2335
31170  2019SFGEEWEG                 Geelong       2727
31171  2019SFGEEWEG              West Coast       3155

[31172 rows x 3 columns]

In [ ]:
matches['games_played'] = x[(x['matchid']==matches['matchid']) & (x['matchid']==matches['matchid'])]

In [58]:
x.columns

Index(['player_gp'], dtype='object')

In [80]:
matches

,round,venue,date,day,time,crowd,hteam,hteam_q1,hteam_q2,hteam_q3,...,season,matchid,homeodds,homeline,awayodds,awayline,hscore,ascore,h_games_played,a_games_played
0,1,Moorabbin Oval,1-Apr-1972,Sat,2:10,21373.0,St Kilda,2.1.13,11.6.72,13.10.88,...,1972,197201NORSTK,NaN,NaN,NaN,NaN,134,76,1426,577
1,1,Princes Park,1-Apr-1972,Sat,2:10,33601.0,Carlton,2.4.16,5.9.39,7.11.53,...,1972,197201CARFIT,NaN,NaN,NaN,NaN,81,70,1464,1109
2,1,Glenferrie Oval,1-Apr-1972,Sat,2:10,21513.0,Hawthorn,4.3.27,9.4.58,10.10.70,...,1972,197201HAWMEL,NaN,NaN,NaN,NaN,104,75,1228,1228
3,1,Western Oval,1-Apr-1978,Sat,2:10,20420.0,Footscray,2.4.16,9.7.61,10.11.71,...,1978,197801FOTNOR,NaN,NaN,NaN,NaN,80,149,974,1963
4,1,Princes Park,1-Apr-1978,Sat,2:10,11986.0,Hawthorn,3.6.24,7.11.53,14.11.95,...,1978,197801HAWMEL,NaN,NaN,NaN,NaN,147,68,1605,1257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15581,Qualifying,M.C.G.,9-Sep-2011,Fri,7:45,73601.0,Geelong,2.0.12,7.2.44,12.6.78,...,2011,2011QFGEEHAW,1.68,-6.5,2.19,6.5,98,67,2952,2311
15582,Elimination,Subiaco,9-Sep-2012,Sun,1:15,41790.0,West Coast,7.4.46,11.8.74,15.11.101,...,2012,2012EFNORWEG,1.19,-29.5,5.00,29.5,162,66,2577,2109
15583,Qualifying,M.C.G.,9-Sep-2016,Fri,7:50,87533.0,Geelong,2.3.15,5.5.35,10.9.69,...,2016,2016QFGEEHAW,1.66,-8.5,2.31,8.5,85,83,2848,3350
15584,Elimination,Adelaide Oval,9-Sep-2017,Sat,7:20,41172.0,Port Adelaide,1.0.6,5.5.35,6.8.44,...,2017,2017EFPORWEG,2.20,5.5,1.65,-5.5,60,60,2100,3136
15585,Elimination,S.C.G.,9-Sep-2017,Sat,4:20,46323.0,Sydney,3.2.20,13.5.83,17.5.107,...,2017,2017EFESSSYD,1.16,-36.5,5.50,36.5,121,56,2664,2221